
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/Java.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Jason</b> Neiman</h1>
                                <h3 class="h2">Talented Web Developer with a background in Customer Service.</h3>
                                <p style="text-align: justify;">
                                    Talented Web Developer with a background in Customer Service. Recognized as proactive, resourceful, and persistent problem-solver. 
                                    Excellent communicator with effective client relationship-building skills. Graduate of (FULL STACK FLEX Bootcamp) through (University of Washington).
                                    <div>
                                        <!-- <iframe src=" " name="iframe_a" height="100%" width="100%" title="Iframe Example"></iframe> -->
                                        <a href="./assets/doc/Resume.pdf" target="iframe_a" class="input-group-text btn-success text-light" style="text-align: center;text-decoration:none;">Download Resume</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/challenges.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Passionate about </h1>
                                <h3 class="h2">approaching programming challenges</h3>
                                <p>
                                    from multiple viewpoints and collaborating with others to provide purposeful and memorable web applications. <strong>Eager to leverage skills </strong>in the future as part of a fast-paced, quality-driven team in order to build better, innovative, and memorable experiences on the web.                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/learn.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">I'M ALWAYS INTERESTED </h1>
                                <h3 class="h2">ABOUT</h3>
                                <p>
                                    UX/UI Design , Frontend and Backend Development , WEBFlow Develpment , New Businesses, Startups ...!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Process of designing new applications</h1>
                <p>
                    This is the main three process of desinging new applications:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/1.svg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Research</h5>
                <p class="text-center"><a class="btn btn-success">
                    Understand the market, define the audience, and 
                    ideate potential solutions.</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/2.png" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Product Design</h2>
                <p class="text-center"><a class="btn btn-success">
                    Define the solution, create a roadmap, establish 
                    architecture and design the product.</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/3.svg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Testing</h2>
                <p class="text-center"><a class="btn btn-success">
                    Establish usability, meet accessibility needs and 
                    ensure a delightful solution.</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->



    <!-- Start technical skills -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-5 m-auto">

                    <h1 class="h1">Technical Skills</h1>
                    <p>

                    </p>
                    
            <div class="row">
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/Reactjs.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">React.js</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/mongodb.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">MongoDB</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/mysql.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">MySQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/nodejs.png"  class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Node.js</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/express.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Express</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/javascript.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">JavaScript</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/HTML.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">HTML</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/css.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">CSS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/tech-skills/bootstrap.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Bootstrap</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End technical skills -->

    <!-- Start softskills  -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-5 m-auto">

                    <h1 class="h1">Soft Skills</h1>
                    <p>

                    </p>
                    
            <div class="row">
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/Workethic.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Work ethic</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/timemanagement.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Time management</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/communication.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Communication</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/problem-solving.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Problem-Solving</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/teamwork.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Teamwork</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="./assets/img/soft-skills/creativity.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="text-decoration-none text-dark">Creativity</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End soft skills -->

